<ion-view>
       <div class="well">
                <div class="card">
                        <div class="card-body card-padding">
                            <h3 class="">Photos</h3>
                            <div class="pm-body clearfix">
                                <div class=" clearfix photos">          
                                    <div class="lightbox row">
                                        <div class="lightbox" id="lightbox"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="card">
                    <div class="card-body card-padding">
                        <h3 class="">Videos</h3>
                        <div class="row">
                            <div class="col-sm-6 m-b-20" id="videoUrl"></div>  
                        </div>
                    </div>
                </div>
        </div> 
</ion-view>
