<ion-view >
    <div class="card-header z-depth-5">
        <div class="card" id="profile-main">
            <div class="pm-overview c-overflow">
                <div class="pmo-pic">
                    <div class="p-relative">
                        <img class="img-responsive" src="assets/img/profile-pics/2.jpg" alt=""> 
                    </div>
                </div>
            </div>
            <div class="pm-body clearfix">
                <div class="pmb-block">
                    <div class="pmbb-header">
                        <h2><i class="md md-person m-r-5"></i> Basic Information</h2>
                    </div>
                    <div class="pmbb-body p-l-30">
                        <div class="pmbb-view">
                            <dl class="dl-horizontal">
                                <dt>Full Name</dt>
                                <dd>Pravinkumar</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Gender</dt>
                                <dd>Male</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Birthday</dt>
                                <dd>Jan 26, 1989</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Martial Status</dt>
                                <dd>Single</dd>
                            </dl>
                        </div>
                       
                    </div>
                </div>
           		<div class="pmb-block">
                    <div class="pmbb-header">
                        <h2><i class="md md-phone m-r-5"></i> Contact Information</h2>
                    </div>
                    <div class="pmbb-body p-l-30">
                        <div class="pmbb-view">
                            <dl class="dl-horizontal">
                                <dt>Mobile Phone</dt>
                                <dd>9791557237</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Email Address</dt>
                                <dd>pravinkumar@appnlogic.com</dd>
                            </dl>
                        </div>
					</div>
                </div>
            </div>
        </div>
    </div>
</ion-view>