<ion-view>
    <style type="text/css">

/*.card {*/

    /*background: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.1) 100%), url(assets/background/firstimg.jpg) repeat 0 0;*/
     /*background-image: url("assets/Restaurant-Menu-Theme-Backgrounds.jpg");*/
/*}*/
.card {
   /*background-image:url('../images/bg.png');*/
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%), url(assets/background/Black-Background-Wood-01-1050x1680.jpg) repeat 0 0;
     /*background-image: url("assets/Restaurant-Menu-Theme-Backgrounds.jpg");*/
}
.bgc{
    background-color: transparent;
    font-size: 19px;
    font-weight: bold;
    color:#fff;
}

</style>
    <!-- <div class="block-header">
        <img class="img-responsive img-circle" src="img/logo.jpg">        
    </div> -->
    <div class="bs-item z-depth-5">
        <div class="card" ng-controller="registerForm">            
                <div class="card-header text-center"  >
                    <div><span style="color:#fff; font-size: 170%">Sign Up </span><br/><span style="color:#fff; font-size: 70%">Already have Account ?</span><br/><a ng-click="login()"><img src="img/fb.png"></a>&nbsp;<a ng-click="Glogin()"><img src="img/google.png"></a></div>
                </div>
                <div class="card-body card-padding" style="padding: 15px;">
                    <!-- ng-click="insertForm()" -->
                    <!-- ng-submit="insertForm()" -->
                    <form role="form" id="form_validation"  novalidate name="newUser">
                        <div class="form-group input-group">
                            <span class="input-group-addon" style="color:#fff;">
                                <i class="md md-account-circle"></i>
                            </span>
                            <div class="fg-line">
                                <input class="form-control fg-input bgc" type="text" style="background-color: transparent; color:#fff; font-size: 20px;font-weight: bold;" id="fname" name="fname" placeholder="First Name" required>
                            </div> 
                            <span class="input-group-addon" style="color:red; font-size:20px;">
                                *
                            </span>     
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon" style="color:#fff;">
                                <i class="md md-people"></i>
                            </span>
                            <div class="select">
                                <select class="form-control bgc" style="background-color: transparent; color:#fff; font-size: 20px;font-weight: bold;"  id="gender">
                                    <option >Gender</option>
                                    <option value="m">Male</option>
                                    <option value="f">Female</option>                           
                                </select>
                            </div>
                            <!-- <div class="fg-line">
                                <input class="form-control fg-input" type="text" id="gender">
                            </div>
                            <label class="fg-label">Gender</label> -->
                        </div>
                        
                        
                        <div class="form-group input-group">
                            <span class="input-group-addon" style="color:#fff;">
                                <i class="md md-today"></i>
                            </span>
                            <div class="fg-line ">
                                <input class="form-control date-picker bgc" style="background-color: transparent; color:#fff; font-size: 20px;font-weight: bold;" type="text" id="dob" placeholder="Date of Birth" >
                            </div>  
                                                      
                        </div>
                        
                        <div class="form-group input-group">
                            <span class="input-group-addon" style="color:#fff;">
                                <i class="md md-mail"></i>
                            </span>
                            <div class="fg-line">
                                <input class="form-control fg-input bgc"style="background-color: transparent; color:#fff; font-size: 20px;font-weight: bold;" type="email" id="email" name="email" required placeholder="Email">
                            </div>
                            
                            <span class="input-group-addon" style="color:red; font-size:20px;">
                                *
                            </span>     
                            
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon" style="color:#fff;">
                                <i class="md md-vpn-key"></i>
                            </span>
                            <div class="fg-line">
                                <input class="form-control fg-input bgc" style="background-color: transparent; color:#fff; font-size: 20px;font-weight: bold;" type="password" id="password"  name="password" placeholder="Password" required>
                            </div> 
                             <span class="input-group-addon" style="color:red; font-size:20px;">
                                *
                            </span>  
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon" style="color:#fff;">
                                <i class="md md-phone-iphone"></i>
                            </span>
                            <div class="fg-line">
                                <input class="form-control fg-input bgc" style="background-color: transparent; color:#fff; font-size: 20px;font-weight: bold;" type="text" id="mobile"  name="mobile" required placeholder="Mobile">
                            </div> 
                            <span class="input-group-addon" style="color:red; font-size:20px;">
                                *
                            </span>     
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon" style="color:#fff;"> 
                                <i class="md md-home"></i>
                            </span>
                            <div class="fg-line">
                                <input class="form-control fg-input bgc" style="background-color: transparent; color:#fff; font-size: 20px;font-weight: bold;" type="text" id="address1" ng-model="address1" name="address1" required placeholder="Address Line 1">
                            </div>
                            <span class="input-group-addon" style="color:red; font-size:20px;">
                                *
                            </span>    
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon" style="color:#fff;">
                                <i class="md md-home"></i>
                            </span>
                            <div class="fg-line">
                                <input class="form-control fg-input bgc" style="background-color: transparent; color:#fff; font-size: 20px;font-weight: bold;" type="text" id="address2" ng-model="address2" name="address2" placeholder="Address Line 2">
                            </div>
                                                   
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon" style="color:#fff;">
                                <i class="md md-place"></i>
                            </span>
                            <div class="fg-line">
                                <input class="form-control fg-input bgc" style="background-color: transparent; color:#fff; font-size: 20px;font-weight: bold;" type="text" id="city"  name="city" required placeholder="City">
                            </div> 
                            
                             <span class="input-group-addon" style="color:red; font-size:20px;">
                                *
                            </span>   
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon" style="color:#fff;">
                                <i class="md md-place"></i>
                            </span>
                            <div class="fg-line">
                                <input class="form-control fg-input bgc" style="background-color: transparent; color:#fff; font-size: 20px;font-weight: bold;" type="text" id="state" name="state" required placeholder="State">
                            </div>
                            <span class="input-group-addon" style="color:red; font-size:20px;">
                                *
                            </span>   
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon" style="color:#fff;">
                                <i class="md md-place"></i>
                            </span>
                            <div class="fg-line">
                                <input class="form-control fg-input bgc" type="text" style="background-color: transparent; color:#fff; font-size: 20px;font-weight: bold;" id="country" name="country"  required placeholder="Country">
                            </div>  
                            <span class="input-group-addon" style="color:red; font-size:20px;">
                                *
                            </span>      
                        </div>                
                        <div class="form-group input-group">
                            <span class="input-group-addon" style="color:#fff;">
                                <i class="md md-email"></i>
                            </span>
                            <div class="fg-line">
                                <input class="form-control fg-input bgc" style="background-color: transparent; color:#fff; font-size: 20px;font-weight: bold;" type="text" id="postalCode" ng-model="register.postalCode" name="postalCode" required ng-focus placeholder="Postal Code" >
                                <input class="form-control fg-input" type="hidden" id="bussinessId" value="1">                                
                            </div>
                            <span class="input-group-addon" style="color:red; font-size:20px;">
                                *
                            </span>    
                        </div>
                        <!--<div class="checkbox">-->
                        <!--    <label>-->
                        <!--        <input type="checkbox" value="">-->
                        <!--        <i class="input-helper"></i>-->
                        <!--        Terms and Condition-->
                        <!--    </label>-->
                        <!--</div>-->

                         <center>
                            <button type="submit" ng-click="insertForm()" class="btn bgm-deeporange btn-md2 waves-effect">Submit</button>
                            <button type="submit" class="btn bgm-bluegray btn-md2 waves-effect" onclick="window.history.back();">Cancel</button>
                        </center>


                        
                    </form>
                </div>            
        </div>
    </div>
    <style>
        .img-responsive 
        {
            margin: 0 auto;
        }
    </style>
</ion view>
<style type="text/css">
.error{
    color: #E23237;
}
</style>
<!--<script>-->
<!--    -->
<!--$(document).ready(function() {-->
<!--    FormSliderSwitcher.init();-->
<!--  -->
<!--  //$("#status").bootstrapSwitch();-->
<!--  //  alert();-->
<!--    $('#form_validation').bootstrapValidator({-->
<!--    -->
<!--        message: 'This value is not valid',-->
<!--	container: 'tooltip',-->
<!--        feedbackIcons: {-->
<!--            valid: 'fa fa-check',-->
<!--            invalid: 'fa fa-times',-->
<!--            validating: 'fa fa-refresh fa-spin'-->
<!--        },-->
<!--        fields: {-->
<!--            fname: {-->
<!--                validators: {-->
<!--                    notEmpty: {-->
<!--                        message: 'It is required and can\'t be empty'-->
<!--                    },-->
<!--                }-->
<!--            },-->
<!--	    image: {-->
<!--                validators: {-->
<!--                    notEmpty: {-->
<!--                        message: 'It is required and can\'t be empty'-->
<!--                    },-->
<!--                }-->
<!--            },-->
<!--	    position: {-->
<!--                validators: {-->
<!--                    notEmpty: {-->
<!--                       message: 'It is required and can\'t be empty'-->
<!--                    }-->
<!--		}-->
<!--            },-->
<!--	    status: {-->
<!--                validators: {-->
<!--                    notEmpty: {-->
<!--                        message: 'It is required and can\'t be empty'-->
<!--                    }-->
<!--                }-->
<!--            },-->
<!--	    online: {-->
<!--                validators: {-->
<!--                    notEmpty: {-->
<!--                        message: 'It is required and can\'t be empty'-->
<!--                    }-->
<!--                }-->
<!--            },-->
<!--	}-->
<!--    });-->
<!--});-->
<!--</script>-->
