<ion-view>
    <div class="card" >
        <div class="card-body card-padding">
             <!-- <div class="card-header jumbotron"> -->
                <!-- <h2>Menu Categories<small>Select Menu Categories</small></h2> -->
                <!-- <p></p>
                <div id="top-search-wrap">
                    <input type="text">
                </div> -->
                <!-- <div class="chat-search"> -->
                    <!-- <div class="fg-line"> -->
                        <!-- <input type="search" class="form-control" ng-model="SubMenus" placeholder="Search Menu Category"> -->
                    <!-- </div> -->
                <!-- </div> -->
            <!-- </div> -->
          

            <!-- <div class="chat-search">
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="Search Sub Menu">
                </div>
            </div> --> 
            <div id="submebu">
                <div class="listview" ng-repeat="SubMenus in SubMenuData  | filter:SubMenus">
                    <a href="#items/={{SubMenus.menuId}}={{SubMenus.id}}" class="lv-item">
                        <div class="media">
                            <div class="pull-left p-relative">
                                <img alt="" src="{{SubMenus.image}}" class="lv-img-sm">
                            </div>
                            <div class="media-body">
                                <div class="lv-title" id="menu-size">{{SubMenus.name}}</div>
                                <small class="lv-small">{{SubMenus.name}} Categories</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
             <!-- <a aria-expanded="false" data-toggle="dropdown" href="" ng-click="goback();" class="btn bgm-deeppurple btn-float z-depth-1 waves-effect pull-right">
           <i class="md  md-keyboard-backspace"></i>
        </a> -->
        </div>
    </div>
    
</ion-view>
